body {
    margin: 0;
    padding: 0;
    background-image: url("form.png");
    background-size: cover;
    background-attachment: fixed;
}

nav {
    height: 80px;
    background-color: #74107d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #d4ff00;
    color: rgb(250, 251, 248);
    position: fixed;
    top: 0;
    width: 100%;
}

nav div {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

nav div p {
    font-family: sans-serif;
    font-size: larger;
    margin-left: 30px;
}

nav a {
    font-family: sans-serif;
    font-size: larger;
    margin-left: 20px;
    text-decoration: none;
    color: #f8f1f1;
    margin-right: 50px;
}




iframe {
    border: 3px solid #4e18ce;
    border-radius: 10px;
}

.para{    
    margin-left: 0px;
    
    margin-top: 30px;
    padding: 10px 15px;
    color: rgb(19, 17, 17);
    font-size: large;
    height: 30vh;
    font-size: 20px;
    border-radius: 10px;
    border: 3px solid #abde70;
    padding: 30px 110px;
    text-align: center;
}

#contact{
    color: whitesmoke;
    padding: 10px 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name,#mail,#genres{
    margin: 25px;
    height: 25px;
    width: 20rem;
    background-color: #ddecec;
    border: 3px solid #60e3e3;
    border-radius: 5px;
    color: rgb(117, 16, 16);
}

#msg{
    height: 20px;
    margin-top: 15px;
    width: 20px;
    margin-right: 50px;
}

input[type=submit]{
    margin: 25px 140px;
    height: 30px;
    width: 150px;
    background-color: #9d1083;
    border: 3px solid #171818;
    border-radius: 5px;
    cursor: pointer;
    
    color: rgb(221, 206, 206);
}

label{
    font-weight: 600;
    font-size: 1rem;
    color: #0e0f0f;
}

footer {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 45px;
    background-color: #74107d;
    border-top: 3px solid #00fbff;
    align-items: center;
}